<style>
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header div {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }

    header > a > h1 {
        margin-bottom: 0;
    }
</style>
<header>
    <a href="/">
        <h1>
            Gamma
        </h1>
    </a>
    <div>
        <th:block sec:authorize="isAuthenticated()">
            <div th:text="|Hey, ${#authentication.getDetails().get().nick().value()}!|"></div>
            <form th:action="@{/logout}" th:method="post" >
                <button class="outline contrast">
                    Logout
                </button>
            </form>
        </th:block>
    </div>
</header>