<!--[@thymesVar id="label" type="java.lang.String" text="Label" description="Label for input"]-->
<!--[@thymesVar id="name" type="java.lang.String" text="Name" description="Name for input"]-->
<!--[@thymesVar id="errorMessage" type="java.lang.String" text="Error Message" description="Error Message for input"]-->
<!--[@thymesVar id="value" type="java.lang.String" text="Value" description="Start value for the input"]-->
<th:block th:fragment="textInput(name, label, errorMessage, value)"
          th:assert="${name != null}">
    <label th:if="${label != null}"
           th:for="${name}"
           th:text="${label}">
    </label>
    <input
            type="text"
            th:id="${name}"
            th:name="${name}"
            th:value="${value}"
    />
    <span th:if="${errorMessage}"
          th:text="${errorMessage}">
    </span>
</th:block>

<th:block th:fragment="textInput2(field, label)"
          th:assert="${field != null}">
    <label th:if="${label != null}"
           th:for="${field}"
           th:text="${label}">
    </label>
    <input
            type="text"
            th:field="*{__${field}__}"
    />
    <span th:if="${#fields.hasErrors(field)}"
          th:errors="*{__${field}__}"></span>
</th:block>

<th:block th:fragment="emailTextInput (name, label, errorMessage)">
    <label th:for="${name}" th:text="${label}"></label>
    <input type="email" th:id="${name}" th:name="${name}" th:aria-labelledby="${name}"/>
    <span th:if="${errorMessage != null}" th:text="${errorMessage}"></span>
</th:block>

<th:block th:fragment="passwordTextInput (name, label, errorMessage)">
    <label th:for="${name}" th:text="${label}"></label>
    <input type="password" th:id="${name}" th:name="${name}" th:aria-labelledby="${name}"/>
    <span th:if="${errorMessage != null}" th:text="${errorMessage}"></span>
</th:block>