<form th:object="${form}" th:data-hx-post="@{/me/edit-password}" data-hx-target="closest .userinfo" data-hx-swap="outerHTML">
    <div th:replace="~{common/form-csrf}"></div>
    <input type="hidden" name="_method" value="put"/>
    <div th:replace="~{common/input :: passwordTextInput2(field='currentPassword', label='Current password')}"></div>
    <div th:replace="~{common/input :: passwordTextInput2(field='newPassword', label='New password')}"></div>
    <div th:replace="~{common/input :: passwordTextInput2(field='confirmNewPassword', label='Confirm new password')}"></div>
    <button type="submit">Save new password</button>
</form>