<form th:object="${form}" th:data-hx-post="@{/me}" data-hx-target="closest .userinfo" data-hx-swap="outerHTML">
    <div th:replace="~{common/form-csrf}"></div>
    <input type="hidden" name="_method" value="put"/>
    <div th:replace="~{common/input :: textInput2('nick', 'Nick')}"></div>
    <div th:replace="~{common/input :: textInput2('firstName', 'First name')}"></div>
    <div th:replace="~{common/input :: textInput2('lastName', 'Last name')}"></div>
    <div th:replace="~{common/input :: emailInput2('email', 'Email')}"></div>
    <label>
        Language
        <select th:field="*{language}">
            <option value="SV">
                Swedish
            </option>
            <option value="EN">
                English
            </option>
        </select>
    </label>
    <button type="submit">Save</button>
</form>