<article>
    <header>
        <h3 th:text="|Edit ${form.prettyName()}|"></h3>
    </header>
    <form id="edit-super-group" th:object="${form}" th:data-hx-post="@{/super-groups/{superGroupId}(superGroupId=${superGroupId})}" data-hx-target="closest article" data-hx-swap="outerHTML">
        <input type="hidden" name="version" th:value="${form.version}" />
        <input type="hidden" name="_method" value="put" />
        <div th:replace="~{common/form-csrf}"></div>
        <div th:replace="~{common/input :: textInput2(field='name', label='Name')}"></div>
        <div th:replace="~{common/input :: textInput2(field='prettyName', label='Pretty name')}"></div>
        <div th:replace="~{common/input :: textInput2(field='svDescription', label='Swedish description')}"></div>
        <div th:replace="~{common/input :: textInput2(field='enDescription', label='English description')}"></div>
        <select name="type">
            <option th:each="type : ${types}" th:text="${type}" th:value="${type}" th:selected="${type == form.type}"></option>
        </select>
    </form>
    <footer>
        <button type="button" th:data-hx-get="|/super-groups/${superGroupId}/cancel-edit|">Cancel</button>
        <button form="edit-super-group" type="submit">Save</button>
    </footer>
</article>
<div th:replace="common/alert :: success('Super group updated')"></div>