<form th:object="${form}" th:data-hx-post="@{/me/edit-password}" data-hx-target="this" data-hx-swap="outerHTML">
    <article>
        <header>
            Creating a new password
        </header>
        <div th:replace="~{common/form-csrf}"></div>
        <input type="hidden" name="_method" value="put"/>
        <div th:replace="~{common/input :: passwordTextInput2(field='currentPassword', label='Current password')}"></div>
        <div th:replace="~{common/input :: passwordTextInput2(field='newPassword', label='New password')}"></div>
        <div th:replace="~{common/input :: passwordTextInput2(field='confirmNewPassword', label='Confirm new password')}"></div>
        <footer>
            <button data-hx-get="/me/cancel-edit" data-hx-target="closest <form/>" data-hx-swap="outerHTML" class="outline contrast" type="button">Cancel</button>
            <button class="outline contrast" type="submit">Save new password</button>
        </footer>
    </article>
</form>