<form class="table-row" th:data-hx-post="@{/posts/{postId}(postId=${post.id})}" data-hx-target="closest .table-row" data-hx-swap="outerHTML">
    <input type="hidden" name="_method" value="put" />
    <div th:replace="~{common/form-csrf}"></div>
    <input type="hidden" name="version" th:value="${post.version()}" />
    <div class="table-cell">
        <div th:replace="~{common/input :: textInput(name='svName', value=${post.svName()}, errorMessage=${null}, label=${null})}"></div>
    </div>
    <div class="table-cell">
        <div class="table-cell" th:replace="~{common/input :: textInput(name='enName', value=${post.enName()}, errorMessage=${null}, label=${null})}"></div>
    </div>
    <div class="table-cell">
        <div class="table-cell" th:replace="~{common/input :: textInput(name='emailPrefix', value=${post.emailPrefix()}, errorMessage=${null}, label=${null})}"></div>
    </div>
    <div class="table-cell">
        <button type="button" th:data-hx-get="@{/posts/{postId}(postId=${post.id})}" data-hx-target="closest .table-row" data-hx-swap="outerHTML">Cancel</button>
        <button type="submit">Save</button>
    </div>
</form>
