<h2>User agreement</h2>

<p>“IT" refers to the organization with the legal name "Teknologsektionen Informationsteknik" and org. number 857209-9524 based in Sweden.</p>

<p>This agreement refers to IT:s user account system Gamma.</p>

<p>IT will collect and manage name, nickname, year of admission, CID, phone number, e-mail, added websites, commitées and societies you are and have been part of, prefered language and your profile picture. The data is managed in order to authenticate you to IT and third party services. Furthermore, the data is used to create a profile that connects to IT services as well as any third party services you approve. The data is also used if we need to contact you for matters of special interest to you. The data is also handled for statistical purposes.</p>

<p>The data is saved until you choose to delete your profile or the IT section decides to delete your data. You will be notified of this at least 30 days prior.</p>

<p>Name, Chalmers ID, nickname and year of admission is shared with all users of Gamma. Data may also be shared with third party services with the user’s approval.</p>

<p>You have the right to withdraw your consent to the handling and request to have all data that IT has about you. If you have any questions or want to exercise your rights you can contact:</p>

<ul>
    <li>The board of the IT student division: <a href="mailto:styrit@chalmers.it">styrit@chalmers.it</a></li>
    <li>The data audit group at the IT student division: <a href="mailto:dpo@chalmers.it">dpo@chalmers.it</a></li>
</ul>