<article>
    <header>
        Credentials
    </header>
    <p>These are the credentials for your client. They will not be shown again.</p>
    <div class="tuple-right-expand">
        <div th:if="${clientSecret != null}">
            <span>Client secret: </span>
            <code th:text="${clientSecret}"></code>
        </div>
        <div th:if="${apiKeyToken != null}">
            <span>Api key:</span>
            <code th:text="${apiKeyToken}"></code>
        </div>
    </div>
    <th:block th:if="${apiKeyToken != null}">
        <p>
            Read more here about how to use Client API here: <br><a href="https://github.com/cthit/Gamma/wiki/Client-API">github.com/cthit/Gamma/wiki/Client-API</a>
        </p>
        <div>
            To authorize when doing API requests, simply add this header:
        </div>
        <p>
            <code>Authorization: pre-shared <span th:text="${client.apiKey().get().id()}"></span>:<span th:text="${apiKeyToken}"></span></code>
        </p>
    </th:block>
</article>