<header th:replace="~{common/header}"></header>
<main th:data-hx-headers="${amIOwner} ? '{&quot;owner&quot;: &quot;true&quot;}' : null">
    <th:block th:if="${clientSecret != null}">
        <article th:replace="~{client-details/client-credentials}"></article>
    </th:block>
    <article>
        <header>
           Client details
        </header>
        <ul class="details">
            <li>
                <b>Pretty name:</b>
                <span th:text="${client.prettyName()}"></span>
            </li>
            <li>
                <b>Swedish description:</b>
                <span th:text="${client.svDescription()}"></span>
            </li>
            <li>
                <b>English description:</b>
                <span th:text="${client.enDescription()}"></span>
            </li>
            <li>
                <b>Client id:</b>
                <span th:text="${client.clientId()}"></span>
            </li>
            <li>
                <b>Redirect:</b>
                <span th:text="${client.webServerRedirectUrl()}"></span>
            </li>
            <li th:if="${client.restriction() != null}">
                <b>Super group restrictions:</b>
                <span th:each="restrictionSuperGroup, stat : ${client.restriction().superGroups()}" th:text="${restrictionSuperGroup.prettyName() + (stat.count == client.restriction().superGroups().size() ? '' : ', ')}"></span>
            </li>
            <li th:if="${owner != null && !amIOwner}">
                <b>Owned by:</b>
                <a class="contrast" th:href="|/users/${owner.id()}|">
                    <span th:text="${owner.nick()}"></span>
                </a>
            </li>
        </ul>
        <footer>
            <form data-hx-confirm="Are you sure you want to delete this client?" th:action="|/clients/${clientUid}|" th:method="delete">
                <button class="outline contrast" data-loading-disable>Delete</button>
            </form>
        </footer>
    </article>

    <th:block th:if="${client.apiKey().isPresent()}" th:with="apiKey = ${client.apiKey().get()}">
        <div class="contents" data-hx-headers='{"return-empty-on-delete":"true"}'>
            <article th:replace="~{pages/api-key-details :: details}"></article>
        </div>
    </th:block>

    <th:block th:each="clientAuthority : ${clientAuthorities}">
        <article th:fragment="client-authority-article">
            <header th:text="${clientAuthority.authorityName()}">
            </header>
            <p>
                Super groups:
            </p>
            <p th:if="${clientAuthority.superGroups().size() == 0}">
                No super groups
            </p>
            <ul th:if="${clientAuthority.superGroups().size() > 0}">
                <li th:each="superGroup : ${clientAuthority.superGroups()}" th:text="${superGroup.prettyName()}"></li>
            </ul>
            <p>
                Users:
            </p>
            <p th:if="${clientAuthority.users().size() == 0}">
                No users
            </p>
            <ul th:if="${clientAuthority.users().size() > 0}">
                <li th:each="user : ${clientAuthority.users()}" th:text="${user.nick()}"></li>
            </ul>
            <footer>
                <form data-hx-confirm="Are you sure you want to delete this authority?" th:data-hx-post="|/clients/${clientUid}/authority/${clientAuthority.authorityName()}|"
                      data-hx-target="closest article"
                      data-hx-swap="delete">
                    <div th:replace="~{common/form-csrf}"></div>
                    <input type="hidden" name="_method" value="delete"/>
                    <button class="outline contrast" data-loading-disable>Delete</button>
                </form>
            </footer>
        </article>
    </th:block>

    <div id="client-authorities-anchor" style="visibility: hidden"></div>

    <article th:replace="~{client-details/add-authority-to-client}"></article>

    <article>
        <header>
            User approvals
        </header>
        <p th:if="${userApprovals.size() == 0}">
            No users have approved this client yet
        </p>
        <ul th:if="${userApprovals.size() > 0}">
            <li th:each="userApproval : ${userApprovals}" th:text="${userApproval.nick()}"></li>
        </ul>
    </article>

</main>