
*{
    --mdc-theme-primary: #4CAF50;
    --mdc-theme-secondary: #4CAF50;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-theme-primary) !important;
}

body {
    margin: 0;
    height: 100vh;
}

canvas {
    position: absolute;
    z-index: 1;
}

body {
    background: black;
    margin: 0;
}

.fadeInBackground {
    width: 100vw;
    height: 100vh;
    position: absolute;

    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode:forwards;

    object-fit: cover;
    object-position: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer {
    text-align: center;
    color: white;

    position: absolute;
    bottom: 8px;
    width: 100%;
}

#it-logo{
    width:50px;
    height:50px;
}

.text{
    font-size: 16px;
    font-weight: normal;
    margin: 0px;
}

.center-vertical{
    display:block;
    margin-top: auto;
    margin-bottom: auto;
}

.text--large{
    font-size: 23px;
    font-weight: 900;
}

.text--small{
    font-size: 13px !important;
}

.text--roboto{
    font-family: "Roboto", serif;
}

.card{
    margin: auto;

    display: flex;
    flex-direction: column;

    max-width: 280px;
    min-width: 250px;

    padding: 16px;

    background-color: white;
}

.padding{
    display: block;
    width: 16px;
    height: 16px;
}

.row{
    display: flex;
    flex-direction: row;
}

.row--space-between{
    justify-content: space-between;
}

.black-color{
    color: black !important;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #bbb;
    margin: 0px;
    margin-top: 8px;
    padding: 0;
}

#loginForm{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;

    flex-grow: 1;
    flex-shrink: 1;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
}

footer {
    z-index: 2;
    position: absolute;
    bottom: 16px;
}