<header th:replace="~{common/header}"></header>
<main>
    <article>
        <header>
            Post details
        </header>
        <ul class="details">
            <li>
                <b>Swedish name:</b>
                <span th:text="${post.svName()}"></span>
            </li>
            <li>
                <b>English name:</b>
                <span th:text="${post.enName()}"></span>
            </li>
            <li>
                <b>Email prefix:</b>
                <span th:if="${!post.emailPrefix().isEmpty()}" th:text="${post.emailPrefix()}"></span>
                <span th:if="${post.emailPrefix().isEmpty()}">
                    This post has no email prefix.
                </span>
            </li>
        </ul>
        <footer th:if="${isAdmin}">
            <button class="outline contrast"
                    data-hx-target="closest article"
                    th:data-hx-get="@{|/posts/${post.id()}/edit|}"
                    data-hx-swap="outerHTML" data-loading-disable>Edit post
            </button>
            <form data-hx-confirm="Are you sure you want to delete this post?" th:action="|/posts/${post.id()}|" th:method="delete">
                <button class="outline contrast" data-loading-disable>Delete</button>
            </form>
        </footer>
    </article>

    <article>
        <header>
            Post usages
        </header>
        <p th:if="${usages.size() == 0}">
        </p>
        <table>
            <thead>
            <tr>
                <th>
                    Group
                </th>
                <th>
                    User
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${usages.size() == 0}">
                <td colspan="2">
                    Post has no usages.
                </td>
            </tr>
            <tr th:each="postUsage : ${usages}">
                <td>
                    <a th:text="${postUsage.groupPrettyName()}" th:href="|/groups/${postUsage.groupId()}|">
                    </a>
                </td>
                <td>
                    <a th:href="|/users/${postUsage.userId()}|" th:text="${postUsage.username()}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </article>

</main>