<header th:replace="~{common/header}"></header>
<main>
    <a th:if="${isAdmin}" href="/posts/create">Create posts</a>
    <table th:fragment="table">
        <thead>
            <tr>
                <th>Swedish name</th>
                <th>English name</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="post : ${posts}">
                <tr th:fragment="post-row"
                    th:data-post-id="${post.id()}">
                    <td th:text="${post.svName()}"></td>
                    <td th:text="${post.enName()}"></td>
                    <td>
                        <a th:href="|/posts/${post.id()}|">Details</a>
                    </td>
            </th:block>
        </tbody>
    </table>
</main>