<header th:replace="~{common/header}"></header>
<main>
    <article th:fragment="userinfo">
        <header>User details</header>
        <img class="m-auto" th:src="@{/images/user/avatar/{id}(id=${userId})}" alt="User avatar"/>
        <div class="userinfo">
            <ul class="tuple">
                <li>
                    <b>Name:</b>
                    <span th:text="${name}"></span>
                </li>
                <li>
                    <b>Cid:</b>
                    <span th:text="${cid}"></span>
                </li>
                <li>
                    <b>Acceptance year</b>
                    <span th:text="${acceptanceYear}"></span>
                </li>
                <li th:if="${isAdmin}">
                    <b>Email:</b>
                    <span th:text="${email}"></span>
                </li>
                <li th:if="${isAdmin}">
                    <b>Has GDPR training:</b>
                    <span th:text="${gdpr}"></span>
                </li>
                <li th:if="${isAdmin}">
                    <b>Is locked:</b>
                    <span th:text="${locked}"></span>
                </li>
            </ul>
        </div>
        <footer th:if="${isAdmin}">
            <button class="outline contrast"
                    data-hx-target="closest article"
                    th:data-hx-get="@{|/users/${userId}/edit|}"
                    data-hx-swap="outerHTML" data-loading-disable>Edit user
            </button>
            <form th:data-hx-confirm="|Are you sure you wish to delete ${name}?|" th:action="|/users/${userId}|" th:method="delete">
                <button class="outline contrast" data-loading-disable>Delete user</button>
            </form>
        </footer>
    </article>

    <article th:if="${isAdmin}" th:fragment="password-link-generated">
        <header>
            Generate reset password link
        </header>
        <p th:if="${passwordLink == null}">Password link will appear here</p>
        <th:block th:if="${passwordLink != null}">
            <p>Link valid for 15 minutes.</p>
            <code th:text="${passwordLink}"></code>
        </th:block>
        <footer>
            <form th:data-hx-post="|/users/${userId}/generate-password-link|" data-hx-target="closest article" data-hx-swap="outerHTML">
                <div th:replace="~{common/form-csrf}"></div>
                <button class="outline contrast" data-loading-disable>Generate</button>
            </form>
        </footer>
    </article>

    <article>
        <header th:text="|${nick}:s groups|"></header>
        <p th:if="${groups.size() == 0}">
            Is not a part of any groups
        </p>
        <ul th:if="${groups.size() > 0}">
            <li th:each="group : ${groups}">
                <a th:href="|/groups/${group.id()}|" th:text="${group.text()}"></a>
            </li>
        </ul>
    </article>
</main>