<header th:replace="~{common/header}"></header>
<main>
    <form th:object="${form}"
          th:action="@{/groups/create}"
          th:method="post"
          _="on htmx:afterSwap call updateNames('members', '.userId', '.postId', '.unofficialPostName')">
        <article>
            <header>
               Create group
            </header>
            <input type="hidden" name="version" th:value="${form.version}"/>
            <div th:replace="~{common/input :: textInput2(field='name', label='Name')}"></div>
            <div th:replace="~{common/input :: textInput2(field='prettyName', label='Pretty name')}"></div>
            <label>
                Super group
                <select name="superGroupId">
                    <option th:each="superGroup : ${superGroups}" th:text="${superGroup.prettyName()}"
                            th:value="${superGroup.id()}"
                            th:selected="${superGroup.id() == form.superGroupId}"></option>
                </select>
            </label>
            <div class="member-row" th:each="member, memberStat : *{members}">
                <div th:text="${users.get(member.userId)}"></div>
                <input class="userId" type="hidden" th:field="*{members[__${memberStat.index}__].userId}"/>
                <div>
                    <div>
                        <label>
                            Post
                        </label>
                        <select class="postId" th:field="*{members[__${memberStat.index}__].postId}">
                            <option th:each="post : ${posts}" th:value="${post.key}" th:text="${post.value}"></option>
                        </select>
                        <small th:if="${#fields.hasErrors('members[__${memberStat.index}__]')}" class="error-message" th:errors="*{members[__${memberStat.index}__]}">
                        </small>
                    </div>
                    <div>
                        <div th:replace="~{common/input :: textInput2(field='members[__${memberStat.index}__].unofficialPostName', label='Unofficial post name')}"></div>
                    </div>
                    <button class="outline contrast" _="on click remove closest .member-row then call updateNames('members', '.userId', '.postId', '.unofficialPostName') "
                            type="button">Delete
                    </button>
                </div>
            </div>
            <button class="outline contrast" type="button" data-hx-get="/groups/new-member" data-hx-target="this" data-hx-swap="beforebegin">
                Add
                member
            </button>
            <footer>
                <button data-loading-disable>Create</button>
            </footer>
        </article>
    </form>
</main>