body {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-height: 100lvh;

    grid-column-start: 1;
    grid-column-end: 3;
}

article {
    margin: auto;
}

article > header > h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

form > fieldset {
    margin-bottom: 0 !important;
}

#links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
    align-items: baseline;
}

img {
    opacity: 0;
    z-index: -2;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    position: absolute;

    object-fit: cover;
    object-position: center;
}
