:root {
    --gamma-primary: #05c46b;
}

body {
    margin: 0;
    background-color: black;
    line-height: 1.5rem;
    min-height: calc(100vh - 3rem);
    padding-bottom: 3rem;
}

* {
    font-family: Verdana, sans-serif;
    color: white;
    color-scheme: dark;
    box-sizing: border-box;
}

a {
    padding: 0.5rem;
    border: solid var(--gamma-primary);
    cursor: pointer;
}

h1, h2 {
    font-family: 'Courier New', monospace;
}
