<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <title>Error Occurred</title>
</head>
<body style="background-color: rgb(238,238,238)">
<div style="text-align: center; padding-top: 50px">
    <h2 class="text--roboto">
        An error occurred
    </h2>
    <p class="text text--large">
        This error does not have an internal mapping
    </p>
    Status: <span th:text="${error_code}"></span> <br>
    Message: <span th:text="${error_message}"></span> <br>
    Original Url: <span th:text="${origin_url}"></span> <br>
</div>
</body>
</html>