<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <base href="/">
    <title>Gamma</title>
    <meta
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
            name="viewport"
    />
    <link rel="shortcut icon" type="image/svg" th:href="@{/img/itlogo.svg}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <script th:src="@{/webjars/htmx.org/1.9.10/dist/htmx.min.js}"></script>
    <script th:src="@{/webjars/hyperscript.org/0.9.12/dist/_hyperscript.min.js}"></script>
    <script>
        htmx.config.selfRequestsOnly = true;
        //TODO: Enable CSP
        htmx.config.allowScriptTags = true;
        htmx.config.historyCacheSize = 0;
        htmx.config.allowEval = false;
        htmx.config.useTemplateFragments = true;
    </script>
</head>
<body hx-boost="true" hx-history="false" >
    <th:block th:replace="~{__${page}__}"></th:block>
</body>
</html>
