<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <base href="/">
    <meta
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
            name="viewport"
    />

    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script>
        htmx.config.selfRequestsOnly = true;
        htmx.config.allowScriptTags = false;
        htmx.config.historyCacheSize = 0;
        htmx.config.allowEval = false;
    </script>
</head>
<body data-hx-boost="true" data-hx-history="false" >
    <header>
        <img th:src="@{/img/bg.jpg}"/>
    </header>
    <main>
        <div th:replace="~{__${page}__}"></div>
    </main>
</body>
</html>
