<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <base href="/">
    <title>Gamma</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="shortcut icon" type="image/svg" th:href="@{/img/itlogo.svg}" />

    <link rel="stylesheet" th:href="@{/webjars/picocss__pico/2.0.6/css/pico.green.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />

    <script th:src="@{/webjars/htmx.org/1.9.10/dist/htmx.min.js}"></script>
    <script th:src="@{/webjars/hyperscript.org/0.9.12/dist/_hyperscript.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/reorder.js}"></script>
</head>
<body class="container-fluid" hx-boost="true" hx-history="false">
    <th:block th:replace="~{__${page}__}"></th:block>
</body>
</html>
