<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
            name="viewport"
    />

    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>

    <link href="https://unpkg.com/material-components-web@6.0.0/dist/material-components-web.min.css" rel="stylesheet"
          type="text/css"/>
    <script src="https://unpkg.com/material-components-web@6.0.0/dist/material-components-web.min.js"
            type="text/javascript"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,900" rel="stylesheet">

    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/png">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            mdc.ripple.MDCRipple.attachTo(document.querySelector('#confirmButton'));
            mdc.ripple.MDCRipple.attachTo(document.querySelector('#denialButton'));

            var image = new Image();
            image.onload = function () {
                document.getElementsByTagName("body")[0].appendChild(image);
            }
            image.src = "/img/enbarsskar.jpg";
            image.className = "fadeInBackground";

        }, false);

        function cancelConsent() {
            document.confirmationForm.reset();
            document.confirmationForm.submit();
        }
    </script>
</head>
<body>
<div class="centerCard" th:fragment="content">
    <div class="card mdc-elevation--z8">

        <div class="row">
            <img id="it-logo" th:src="@{/img/itlogo.svg}"/>
            <div class="padding"></div>
            <h1 class="text text--large text--roboto center-vertical">
                Gamma - IT account
            </h1>
        </div>

        <div class="padding"></div>

        <div class="row">
            <h2 class="text text--roboto center-vertical"
                th:text="'Do you want to authorize ' + ${clientName} + ' to access:'"></h2>
        </div>

        <div class="row">
            <ul>
                <li class="text text--roboto">First and last name</li>
                <li class="text text--roboto" th:if="${hasEmailScope}">Email</li>
                <li class="text text--roboto">Nickname</li>
                <li class="text text--roboto">Preferred language</li>
                <li class="text text--roboto">Cid</li>
                <li class="text text--roboto">Authorities</li>
                <li class="text text--roboto">Groups that you're apart of</li>
            </ul>
        </div>

        <div class="padding"></div>

        <form action="/oauth2/authorize" id="confirmationForm" method="post" name="confirmationForm">
            <input name="client_id" th:value="${clientId}" type="hidden">
            <input name="state" th:value="${state}" type="hidden">

            <div style="display: none;" th:each="scope: ${scopes}">
                <input checked
                       class="form-check-input"
                       name="scope"
                       th:id="${scope}"
                       th:value="${scope}"
                       type="checkbox">
            </div>
            <label><input class="foo-button mdc-button mdc-button--outlined" id="confirmButton" name="authorize" style="width:100%;" type="submit"
                          value="Authorize"></label>
            <div class="padding"></div>
            <label><input class="foo-button mdc-button mdc-button--outlined" id="denialButton" name="deny" onclick="cancelConsent()" style="width:100%;"
                          type="button" value="Deny"></label>
        </form>
    </div>
</div>


<footer class="text text--roboto">
    Made by Portals. <a class="text-link" target="_blank" href="https://github.com/cthit/gamma">Github</a>
</footer>

</body>
</html>
