<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="/">

    <meta
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
            name="viewport"
    />

    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>

    <link rel="stylesheet" th:href="@{/css/mcw.min.css}" type="text/css"/>

    <script th:src="@{/js/mcw.min.js}" type="text/javascript"></script>

    <link href="https://fonts.gooqgleapis.com/css?family=Roboto:300,400,500,900" rel="stylesheet">

    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/png">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            mdc.ripple.MDCRipple.attachTo(document.querySelector('#loginButton'));
            mdc.ripple.MDCRipple.attachTo(document.querySelector('#createAccountButton'));
            mdc.ripple.MDCRipple.attachTo(document.querySelector('#forgotPasswordButton'));
            mdc.textField.MDCTextField.attachTo(document.querySelector('#username'));
            mdc.textField.MDCTextField.attachTo(document.querySelector('#password'));

            var image = new Image();
            image.onload = function () {
                document.getElementsByTagName("body")[0].appendChild(image);
            }
            image.src = "/img/enbarsskar.jpg";
            image.className = "fadeInBackground";

        }, false);
    </script>
</head>
<body>
<div class="centerCard" th:fragment="content">
    <form method="post" name="f" th:action="@{/login}">
        <div class="card mdc-elevation--z8">

            <div class="text text--roboto alert alert-error" th:if="${error}">
                Invalid cid/email or password.
                <div class="padding"></div>
            </div>
            <div class="text text--roboto alert alert-success" th:if="${logout}">
                You have been logged out.
                <div class="padding"></div>
            </div>


            <div class="row">
                <img id="it-logo" th:src="@{/img/itlogo.svg}"/>
                <div class="padding"></div>
                <h1 class="text text--large text--roboto center-vertical">
                    Gamma - IT account
                </h1>
            </div>

            <div class="padding"></div>

            <div th:if="${authorizing}">
                <h2 class="text text--roboto center-vertical">
                    Before deciding on authorizing the client, please verify your identity
                </h2>
            </div>

            <div class="padding"></div>

            <!-- Cid -->
            <div class="mdc-text-field mdc-text-field--outlined" id="username">
                <input class="mdc-text-field__input" id="tf-cid" name="username" type="text">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label class="mdc-floating-label text text--roboto primary-color" for="tf-cid">Cid or
                            email</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <div class="padding"></div>

            <!-- Password -->
            <div class="mdc-text-field mdc-text-field--outlined" id="password">
                <input class="mdc-text-field__input" id="tf-password" name="password" type="password">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label class="mdc-floating-label text text--roboto" for="tf-password">Password</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <div class="padding"></div>

            <div class="row row--space-between">
                <button class="foo-button mdc-button mdc-button--raised" id="loginButton" style="width: 100%"
                        type="submit">Sign in
                </button>
            </div>

            <div class="padding"></div>

            <hr>

            <div class="padding"></div>

            <div class="row row--space-between">
                <a class="center-vertical" th:href="${createAccountUrl}">
                    <button class="black-color foo-button mdc-button text--small" id="createAccountButton" type=button>
                        Register
                    </button>
                </a>
                <a class="center-vertical" th:href="${forgotPasswordUrl}">
                    <button class="black-color foo-button mdc-button text--small" id="forgotPasswordButton" type=button>
                        Forgot password
                    </button>
                </a>
            </div>
        </div>
    </form>
</div>


<footer class="text text--roboto">
    Made by Portals. <a class="text-link" target="_blank" href="https://github.com/cthit/gamma">Github</a>
</footer>

</body>
</html>
