<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <title>Internal Server Error</title>
</head>
<body style="background-color: rgb(238,238,238)">
<div style="text-align: center; padding-top: 50px">
    <h2 class="text--roboto">
        500 <br>
    </h2>
    <p class="text text--large">
        An internal server error occurred <br>
    </p>
    <br><br>
    <a class="black-color text--roboto" href="https://github.com/cthit/Gamma/issues/new">
        Click here to add an issue on
    </a>
</div>
</body>
</html>