<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/mcw.min.css}"/>

    <script type="text/javascript" th:src="@{/js/mcw.min.js}"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,900" rel="stylesheet">

    <link rel="icon" type="image/png" th:href="@{/img/favicon.ico}">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            mdc.ripple.MDCRipple.attachTo(document.querySelector('#loginButton'));
            mdc.ripple.MDCRipple.attachTo(document.querySelector('#createAccountButton'));
            mdc.ripple.MDCRipple.attachTo(document.querySelector('#forgotPasswordButton'));
            mdc.textField.MDCTextField.attachTo(document.querySelector('#username'));
            mdc.textField.MDCTextField.attachTo(document.querySelector('#password'));

            var image = new Image();
            image.onload = function () {
                document.getElementsByTagName("body")[0].appendChild(image);
            }
            image.src = "/api/img/enbarsskar.jpg";
            image.className = "fadeInBackground";

        }, false);
    </script>
</head>
<body>
<div class="centerCard" th:fragment="content">
    <form name="f" th:action="@{/login}" method="post">
        <div class="card mdc-elevation--z8">

            <div th:if="${error}" class="text text--roboto alert alert-error">
                Invalid cid/email or password.
                <div class="padding"></div>
            </div>
            <div th:if="${logout}" class="text text--roboto alert alert-success">
                You have been logged out.
                <div class="padding"></div>
            </div>


            <div class="row">
                <img id="it-logo" th:src="@{/img/itlogo.svg}"/>
                <div class="padding"></div>
                <h1 class="text text--large text--roboto center-vertical">
                    Gamma - IT account
                </h1>
            </div>

            <div class="padding"></div>

            <!-- Cid -->
            <div id="username" class="mdc-text-field mdc-text-field--outlined">
                <input name="username" type="text" id="tf-cid" class="mdc-text-field__input">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="tf-cid" class="mdc-floating-label text text--roboto primary-color">Cid or
                            email</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <div class="padding"></div>

            <!-- Password -->
            <div id="password" class="mdc-text-field mdc-text-field--outlined">
                <input name="password" type="password" id="tf-password" class="mdc-text-field__input">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="tf-password" class="mdc-floating-label text text--roboto">Password</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <div class="padding"></div>

            <div class="row row--space-between">
                <!-- Remember me-->
                <!--
                <div class="mdc-form-field">
                    <div id="rememberMe" class="mdc-checkbox">
                        <input type="checkbox"
                               class="mdc-checkbox__native-control"
                               id="checkbox-1"
                               name="remember-me"
                        />
                        <div class="mdc-checkbox__background">
                            <svg class="mdc-checkbox__checkmark"
                                 viewBox="0 0 24 24">
                                <path class="mdc-checkbox__checkmark-path"
                                      fill="none"
                                      d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                            </svg>
                            <div class="mdc-checkbox__mixedmark"></div>
                        </div>
                    </div>
                    <label for="checkbox-1" class="text text--roboto">Remember me</label>
                </div>
                -->
                <button type="submit" id="loginButton" style="width: 100%"
                        class="foo-button mdc-button mdc-button--raised">Sign in
                </button>
            </div>

            <div class="padding"></div>

            <hr>

            <div class="padding"></div>

            <div class="row row--space-between">
                <a th:href="${createAccountUrl}" class="center-vertical">
                    <button type=button id="createAccountButton" class="black-color foo-button mdc-button text--small">
                        Register
                    </button>
                </a>
                <a th:href="${forgotPasswordUrl}" class="center-vertical">
                    <button type=button id="forgotPasswordButton" class="black-color foo-button mdc-button text--small">
                        Forgot password
                    </button>
                </a>
            </div>
        </div>
    </form>
</div>


<footer class="text text--roboto">
    Made by digIT '18
</footer>

</body>
</html>
