<header th:replace="~{common/header}"></header>
<main>
    <form th:action="@{/activate-cid}" th:method="post" >
        <article>
            <header>
                Activate cid
            </header>
            <p>Enter cid to start process of creating an account. </p>
            <p>If you are an IT student, you should already be activated.</p>
            <p></p>
            <div th:replace="~{common/input :: textInput(name='cid', value=${null}, errorMessage=${null}, label=${null})}"></div>
            <footer>
                <a href="/register">
                    <button type="button" class="outline contrast">I already have a code</button>
                </a>
                <button class="outline">Activate cid</button>
            </footer>
        </article>
    </form>
</main>