<header th:replace="~{common/header}"></header>
<main>
     <a href="/" >Back</a>
    <table>
        <thead>
        <tr>
            <th>Cid</th>
            <th>Token</th>
            <th>Created at</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="activationCode : ${activationCodes}">
            <td th:text="${activationCode.cid()}"></td>
            <td th:text="${activationCode.token()}"></td>
            <td th:text="${activationCode.createdAt()}"></td>
            <td class="table-align-right">
                <form th:data-hx-post="|/activation-codes/${activationCode.cid()}|" data-hx-target="closest tr" data-hx-swap="delete">
                    <div th:replace="~{common/form-csrf}"></div>
                    <input type="hidden" name="_method" value="delete" />
                    <button class="outline contrast">Delete activation</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>