<header th:replace="~{common/header}"></header>
<main>
     <a href="/" >Back</a>
    <table>
        <thead>
        <tr>
            <th>Cid</th>
            <th>Token</th>
            <th>Created at</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="activaitonCode : ${activationCodes}">
            <td th:text="${activaitonCode.cid()}"></td>
            <td th:text="${activaitonCode.token()}"></td>
            <td th:text="${activaitonCode.createdAt()}"></td>
        </tr>
        </tbody>
    </table>
</main>