<header th:replace="~{common/header}"></header>
<main>
    <a href="/" >Back</a>
    <form th:action="@{/admins}" th:method="put" >
        <button type="submit">Save</button>
        <p th:if="${errorMessage}" th:text="${errorMessage}"></p>
        <table>
            <thead>
            <tr>
                <th>Admin</th>
                <th>First Name</th>
                <th>Nick</th>
                <th>Last name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td>
                    <input type="checkbox"
                           th:name="${user.id()}"
                           th:checked="${admins.contains(user.id())}"
                    />
                </td>
                <td th:text="${user.firstName()}"></td>
                <td th:text="${user.nick()}"></td>
                <td th:text="${user.lastName()}"></td>
            </tr>
            </tbody>
        </table>
    </form>
</main>