<header th:replace="~{common/header}"></header>
<div id="alerts">
</div>
<main>
    <a href="/api-keys" >Back</a>
    <article>
        <header th:text="|${apiKey.prettyName()} details|">
        </header>
        <ul class="tuple">
            <li>
                <b>Pretty name</b>
                <span th:text="${apiKey.prettyName()}"></span>
            </li>
            <li>
                <b>Type</b>
                <span th:text="${apiKey.keyType()}"></span>
            </li>
            <li>
                <b>Swedish description</b>
                <span th:text="${apiKey.svDescription()}"></span>
            </li>
            <li>
                <b>English description</b>
                <span th:text="${apiKey.enDescription()}"></span>
            </li>
        </ul>
        <footer>
            <form data-hx-confirm="Are you sure you want to delete this api key?" th:action="|/api-keys/${apiKey.id()}|" th:method="delete">
                <button class="outline contrast">Delete</button>
            </form>
        </footer>
    </article>
    <th:block th:if="${apiKey.keyType().equals('ACCOUNT_SCAFFOLD') || apiKey.keyType().equals('INFO')}">
        <article th:replace="~{partial/api-key-super-group-types}"></article>
    </th:block>
</main>