<header th:replace="~{common/header}"></header>
<div id="alerts">
</div>
<main>
    <a href="/api-keys" >Back</a>
    <article>
        <header>
            <h3 th:text="|${apiKey.prettyName()} details|"></h3>
        </header>
        <ul>
            <li>
                <b>Pretty name</b>
                <span th:text="${apiKey.prettyName()}"></span>
            </li>
            <li>
                <b>Type</b>
                <span th:text="${apiKey.keyType()}"></span>
            </li>
            <li>
                <b>Swedish description</b>
                <span th:text="${apiKey.svDescription()}"></span>
            </li>
            <li>
                <b>English description</b>
                <span th:text="${apiKey.enDescription()}"></span>
            </li>
        </ul>
        <footer>
            <form data-hx-confirm="Are you sure you want to delete this api key?" th:action="|/api-keys/${apiKey.id()}|" th:method="delete">
                <button class="outline contrast">Delete</button>
            </form>
        </footer>
    </article>
</main>