<header th:replace="~{common/header}"></header>
<main>
    <article>
        <header th:text="|Credentials for ${name}|">
        </header>
        <p>These are the credentials for your api key. They will not be shown again.</p>
        <ul class="tuple">
            <li>
                <span>Api key</span>
                <span th:text="${apiKeyToken}"></span>
            </li>
        </ul>
        <footer>
            <a th:href="@{/api-keys/{id}(id=${apiKeyId})}">Go to api key</a>
        </footer>
    </article>
</main>