<header th:replace="~{common/header}"></header>
<main>
    <article>
        <header th:text="|Credentials for ${name}|"></header>
        <p>These are the credentials for your client. They will not be shown again.</p>
        <ul class="tuple">
            <li>
                <span>Client secret: </span>
                <span th:text="${clientSecret}"></span>
            </li>
            <li th:if="${apiKeyToken != null}">
                <span>Api key</span>
                <span th:text="${apiKeyToken}"></span>
            </li>
        </ul>
        <footer>
            <a th:href="@{/clients/{id}(id=${clientUid})}">Go to client</a>
        </footer>
    </article>
</main>