<script type="text/javascript">
    function reindexMembers() {
        update('.authority-super-group-row', 'superGroups');
        update('.authority-user-row', 'users');
    }

    function update(n, key) {
        const inputFields = document.querySelectorAll(n);
        inputFields.forEach(function(input, index) {
            input.name = key + '[' + index + ']';
            input.id = key + index;
        });
    }

    document.body.addEventListener("htmx:afterSwap", reindexMembers);
</script>
<header th:replace="~{common/header}"></header>
<main>
    <a href="/clients" >Back</a>

    <ul>
        <li th:text="${client.prettyName()}"></li>
        <li th:text="${client.svDescription()}"></li>
        <li th:text="${client.enDescription()}"></li>
        <li th:text="${client.clientId()}"></li>
        <li th:text="|Has api key: ${client.hasApiKey()}|"></li>
        <li th:text="${client.webServerRedirectUrl()}"></li>
        <li th:if="${client.restriction() != null}">
            Super group restrictions
            <ul>
                <li th:each="restrictionSuperGroup : ${client.restriction().superGroups()}" th:text="${restrictionSuperGroup.prettyName()}"></li>
            </ul>
        </li>
    </ul>
    <h2>Authorities</h2>
    <th:block th:fragment="client-authorities" >
        <div th:data-hx-get="@{/clients/{id}/authorities(id=${client.clientUid})}" data-hx-target="this" data-hx-swap="outerHTML" data-hx-trigger="authorities-updated from:body">
            <ul>
                <li th:each="clientAuthority : ${clientAuthorities}">
                    <p th:text="${clientAuthority.authorityName()}"></p>
                    <p>
                        Super groups
                    </p>
                    <ul>
                       <li th:each="superGroup : ${clientAuthority.superGroups()}" th:text="${superGroup.prettyName()}"></li>
                    </ul>
                    <p>
                        Users
                    </p>
                    <ul>
                        <li th:each="user : ${clientAuthority.users()}" th:text="${user.nick()}"></li>
                    </ul>
                </li>
            </ul>
        </div>
        <button th:data-hx-get="@{/clients/{id}/new-authority(id=${client.clientUid()})}" data-hx-target="this" data-hx-swap="outerHTML">Add authority</button>
    </th:block>
    <h2>User approvals</h2>
    <ul>
        <li th:each="userApproval : ${userApprovals}" th:text="${userApproval.nick()}"></li>
    </ul>
</main>