<style>
    main {
        display: flex;
        flex-direction: column;
        width: fit-content;

        margin-left: auto;
        margin-right: auto;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
</style>
<header th:replace="~{common/header}"></header>
<main>
    <a href="/" >Back</a>
    <form th:object="${form}" th:action="@{/users}" th:method="post">
        <div th:replace="~{common/input :: textInput2(field='firstName', label='First name')}"></div>
        <div th:replace="~{common/input :: textInput2(field='lastName', label='Last name')}"></div>
        <div th:replace="~{common/input :: textInput2(field='nick', label='Nick')}"></div>
        <div th:replace="~{common/input :: textInput2(field='cid', label='Cid')}"></div>
        <div th:replace="~{common/input :: emailInput2(field='email', label='Email')}"></div>
        <div th:replace="~{common/input :: passwordTextInput2(field='password', label='Password')}"></div>
        <label>
            Which year did you start at IT?
            <select th:field="*{acceptanceYear}">
                <option th:each="year : ${#numbers.sequence(T(java.time.Year).now().getValue(), 2001)}"
                        th:value="${year}"
                        th:text="${year}">
                </option>
            </select>
        </label>
        <label>
            What language do you prefer?
            <select th:field="*{language}">
                <option value="SV">
                    Swedish
                </option>
                <option value="EN">
                    English
                </option>
            </select>
        </label>
        <button type="submit">Create user</button>
    </form>
</main>
