<style>
    main {
        margin-left: auto;
        margin-right: auto;
    }

    form {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
</style>
<header th:replace="~{common/header}"></header>
<main>
    <p>
        You should have received an email with a token for resetting your password. Please check your spam email if you can't find it. You might also have typed your cid/email incorrectly.
    </p>
    <form th:object="${form}" th:action="@{/forgot-password/finalize}" th:method="post" data-hx-target="body" data-hx-swap="outerHTML">
        <div th:replace="~{common/input :: textInput2('email', 'Email')}"></div>
        <div th:replace="~{common/input :: textInput2('token', 'Token')}"></div>
        <div th:replace="~{common/input :: passwordTextInput2('password', 'Password')}"></div>
        <div th:replace="~{common/input :: passwordTextInput2('confirmPassword', 'Confirm password')}"></div>
        <button type="submit">Reset password</button>
    </form>
</main>