<header th:replace="~{common/header-without-nav}"></header>
<main>
    <form th:object="${form}" th:action="@{/forgot-password/finalize}" th:method="post" data-hx-target="body" data-hx-swap="outerHTML">
        <article>
            <header>
                Finalize resetting password
            </header>
            <p>
                You should have received an email with a token for resetting your password.
            </p>
            <p>
                Please check your spam email if you can't find it. You might also have typed your cid/email incorrectly.
            </p>
            <div th:replace="~{common/input :: textInput2('email', 'Email')}"></div>
            <div th:replace="~{common/input :: textInput2('token', 'Token')}"></div>
            <div th:replace="~{common/input :: passwordTextInput2('password', 'Password')}"></div>
            <div th:replace="~{common/input :: passwordTextInput2('confirmPassword', 'Confirm password')}"></div>
            <footer>
                <button data-loading-disable>Reset password</button>
            </footer>
        </article>
    </form>
</main>