<header th:replace="~{common/header-without-nav}"></header>
<main>
    <form th:object="${form}" th:action="@{/forgot-password/finalize}" th:method="post" data-hx-target="body" data-hx-swap="outerHTML">
        <article>
            <header>
                Finalize resetting password
            </header>
            <input type="hidden" name="token" th:value="${form.token()}" />
            <div th:replace="~{common/input :: passwordTextInput2('password', 'Password')}"></div>
            <div th:replace="~{common/input :: passwordTextInput2('confirmPassword', 'Confirm password')}"></div>
            <div th:replace="~{common/error :: text}"></div>
            <footer>
                <button data-loading-disable>Reset password</button>
            </footer>
        </article>
    </form>
</main>