<style>
    form {
        margin-left: auto;
        margin-right: auto;
    }
</style>
<header th:replace="~{common/header}"></header>
<main>
    <p>
        Please enter your email to begin the reset process.
    </p>
    <form th:object="${form}" th:action="@{/forgot-password}" th:method="post" data-hx-target="body" data-hx-swap="outerHTML">
        <div th:replace="~{common/input :: textInput2('email', 'Email')}"></div>
        <button type="submit">Reset password</button>
    </form>
</main>