<header th:replace="~{common/header-without-nav}"></header>
<main>
    <form th:object="${form}" th:action="@{/forgot-password}" th:method="post" data-hx-target="body" data-hx-swap="outerHTML">
        <article>
            <header>
                Reset password
            </header>
            <th:block th:if="${hasSent}">
                <p>
                    <b>
                        You should have received an email with a link for resetting your password.
                    </b>
                </p>
                <p>
                    <b>
                        Please check your spam email if you can't find it. You might also have typed your cid/email incorrectly.
                    </b>
                </p>
                <hr>
            </th:block>
            <p>
                Please enter your cid or email to begin the reset process.
            </p>
            <div th:replace="~{common/input :: textInput2('cidOrEmail', 'Cid or Email')}"></div>
            <footer>
                <button class="outline contrast" data-loading-disable>Reset password</button>
            </footer>
        </article>
    </form>
</main>