<header th:replace="~{common/header}"></header>
<main>
    <form th:object="${form}" th:action="@{/forgot-password}" th:method="post" data-hx-target="body" data-hx-swap="outerHTML">
        <article>
            <header>
                <h3>
                    Reset password
                </h3>
            </header>
            <p>
                Please enter your email to begin the reset process.
            </p>
            <div th:replace="~{common/input :: textInput2('email', 'Email')}"></div>
            <footer>
                <button type="submit">Reset password</button>
            </footer>
        </article>
    </form>
</main>