<header th:replace="~{common/header}"></header>
<main>
    <form th:action="@{/gdpr}" th:method="put" >
        <button data-loading-disable>Save</button>
        <table>
            <thead>
            <tr>
                <th>Gdpr trained</th>
                <th>First Name</th>
                <th>Nick</th>
                <th>Last name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td>
                    <input type="checkbox"
                           th:name="${user.id()}"
                           th:checked="${gdprTrained.contains(user.id())}"
                    />
                </td>
                <td th:text="${user.firstName()}"></td>
                <td th:text="${user.nick()}"></td>
                <td th:text="${user.lastName()}"></td>
            </tr>
            </tbody>
        </table>
    </form>
</main>