<header th:replace="~{common/header}"></header>
<main>
    <a href="/" >Back</a>
    <a th:if="${isAdmin}" href="/groups/create">Create group</a>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Super group</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${groups}">
            <td th:text="${group.prettyName()}"></td>
            <td th:text="${group.superGroup().prettyName()}"></td>
            <td>
                <a th:href="${'/groups/' + group.id}">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>