<style>
    main {
        margin-left: auto;
        margin-right: auto;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        width: fit-content;
    }

    img {
        height: 200px;
        object-fit: contain;
    }
</style>
<header th:replace="~{common/header}"></header>
<main>
    <a href="/groups">Back</a>
    <img th:src="@{/images/group/banner/{id}(id=${group.id()})}" alt="Group banner" />
    <img th:src="@{/images/group/avatar/{id}(id=${group.id()})}" alt="Group avatar" />
    <ul>
        <li th:text="${group.name()}"></li>
        <li th:text="${group.prettyName()}"></li>
        <li th:text="${group.superGroup().prettyName()}"></li>
    </ul>
    <ul>
        <li th:each="member : ${members}" th:text="${member}"></li>
    </ul>
    <button th:data-hx-get="@{/groups/{groupId}/edit(groupId=${group.id()})}"
            data-hx-target="main"
            data-hx-swap="innerHTML">Edit
    </button>
</main>