<header th:replace="~{common/header}"></header>
<style>

    main {
        padding: 1rem;
    }

    main div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    main div div {
        width: fit-content;
    }
</style>
<main>
    <div>
        <div>
            <a th:href="@{/users}">Users</a>
        </div>
        <div>
            <a th:href="@{/groups}">Groups</a>
        </div>
        <div>
            <a th:href="@{/super-groups}">Super groups</a>
        </div>
        <div>
            <a th:href="@{/types}">Types</a>
        </div>
        <div>
            <a th:href="@{/posts}">Posts</a>
        </div>
        <div>
            <a th:href="@{/clients}">Clients</a>
        </div>
        <div>
            <a th:href="@{/api-keys}">Api keys</a>
        </div>
        <div>
            <a th:href="@{/activation-codes}">Activation codes</a>
        </div>
        <div>
            <a th:href="@{/admins}">Admins</a>
        </div>
        <div>
            <a th:href="@{/gdpr}">Gdpr trained</a>
        </div>
        <div>
            <a th:href="@{/allow-list}">Allow lists</a>
        </div>
    </div>
</main>