<header th:replace="~{common/header}"></header>
<main>
    <article>
        <header>
            <h3>
                User views
            </h3>
        </header>
        <div>
            <a th:href="@{/me}">Me</a>
            <a th:href="@{/me/accepted-clients}">Your accepted clients</a>
            <a th:href="@{/users}">Users</a>
            <a th:href="@{/groups}">Groups</a>
            <a th:href="@{/super-groups}">Super groups</a>
            <a th:href="@{/types}">Types</a>
            <a th:href="@{/posts}">Posts</a>
            <a th:href="@{/my-clients}">My clients</a>
        </div>
    </article>
    <article th:if="${isAdmin}">
        <header>
            <h3>
                Admin views
            </h3>
        </header>
        <div>
            <a th:href="@{/clients}">Official clients</a>
            <a th:href="@{/user-clients}">User clients</a>
            <a th:href="@{/api-keys}">Api keys</a>
            <a th:href="@{/activation-codes}">Activation codes</a>
            <a th:href="@{/admins}">Admins</a>
            <a th:href="@{/gdpr}">Gdpr trained</a>
            <a th:href="@{/allow-list}">Allow lists</a>
            <a th:href="@{/settings}">Settings</a>
        </div>
    </article>
</main>