<div th:fragment="home">
    <a th:href="@{/users}" data-hx-target="main">Users</a>
    <a th:href="@{/groups}" data-hx-target="main">Groups</a>
    <a th:href="@{/super-groups}" data-hx-target="main">Super groups</a>
    <a th:href="@{/types}" data-hx-target="main">Types</a>
    <a th:href="@{/posts}" data-hx-target="main">Posts</a>
    <a th:href="@{/clients}" data-hx-target="main">Clients</a>
    <a th:href="@{/api-keys}" data-hx-target="main">Api keys</a>
    <a th:href="@{/activation-codes}" data-hx-target="main">Activation codes</a>
    <a th:href="@{/admins}" data-hx-target="main">Admins</a>
    <a th:href="@{/gdpr}" data-hx-target="main">Gdpr trained</a>
    <a th:href="@{/allow-list}" data-hx-target="main">Allow lists</a>
</div>