<header th:replace="~{common/header-without-nav}"></header>
<main>
    <article>
        <header>
            Migrate from Gamma
        </header>
        <p>
            This is a one time action, that will remove all EVERYTHING, and get the information from gamma.
        </p>
        <form data-hx-target="closest article" th:action="@{/migration}" th:method="post">
            <label>
                Api Key Token
                <input name="apiKey"/>
            </label>
        </form>
    </article>
</main>