<header th:replace="~{common/header}"></header>
<main>
    <a href="/" >Back</a>
    <table>
        <thead>
        <tr>
            <th>Client name</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="acceptedClient : ${acceptedClients}">
            <td th:text="${acceptedClient.name()}"></td>
            <td th:text="${acceptedClient.enDescription()}"></td>
            <td>
                <form th:data-hx-post="|/me/accepted-clients/${acceptedClient.clientUid()}|" data-hx-target="closest tr" data-hx-swap="delete">
                    <div th:replace="~{common/form-csrf}"></div>
                    <input type="hidden" name="_method" value="delete" />
                    <button class="outline contrast">Retract approval</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>