<div id="alerts"></div>
<header th:replace="~{common/header}"></header>
<main>
    <table th:fragment="table">
        <thead>
            <tr>
                <th>Swedish name</th>
                <th>English name</th>
                <th>Email prefix</th>
                <th th:if="${isAdmin}"></th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="post : ${posts}">
                <tr th:fragment="post-row"
                    th:data-post-id="${post.id()}">
                    <td th:text="${post.svName()}"></td>
                    <td th:text="${post.enName()}"></td>
                    <td th:text="${post.emailPrefix()}"></td>
                    <td th:if="${isAdmin}" class="td-buttons">
                        <form data-hx-confirm="Are you sure you want to delete this post?" th:id="|delete-${post.id()}|" th:data-hx-post="@{/posts/{postId}(postId=${post.id()})}" th:data-hx-target="${'tr[data-post-id=&quot;' + post.id() + '&quot;]'}" data-hx-swap="outerHTML">
                            <div th:replace="~{common/form-csrf}"></div>
                            <input type="hidden" name="_method" value="delete" />
                        </form>
                        <button class="outline contrast" th:data-hx-get="@{/posts/{postId}/edit(postId=${post.id()})}"
                                data-hx-target="main" data-hx-swap="afterend">Edit
                        </button>
                        <button th:form="|delete-${post.id()}|" class="outline contrast" data-loading-disable>Delete</button>
                    </td>
                </tr>
            </th:block>
            <tr th:fragment="create-post-row" th:if="${isAdmin}" id="create-row">
                <td>
                    <div th:replace="~{common/input :: distantTextInput(name='svName', value=${null}, errorMessage=${null}, label='Swedish name', form='create-post')}"></div>
                </td>
                <td>
                    <div th:replace="~{common/input :: distantTextInput(name='enName', value=${null}, errorMessage=${null}, label='English name', form='create-post')}"></div>
                </td>
                <td>
                    <div th:replace="~{common/input :: distantTextInput(name='emailPrefix', value=${null}, errorMessage=${null}, label='Email prefix', form='create-post')}"></div>
                </td>
                <td>
                    <button form="create-post" data-loading-disable>Save</button>
                    <form th:if="${isAdmin}" th:fragment="create-post" id="create-post" th:data-hx-post="@{/posts}" data-hx-target="closest tr" data-hx-swap="outerHTML">
                        <div th:replace="~{common/form-csrf}"></div>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</main>