<style>
    main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

    form {
        display: contents;
    }
</style>
<header th:replace="~{common/header}"></header>
<main>
    <form th:method="post" th:action="@{/register}">
        <div th:replace="~{common/input :: textInput('cid', 'Cid', ${null}, ${null})}"></div>
        <div th:replace="~{common/input :: textInput('code', 'Code from the email', ${null}, ${null})}"></div>
        <div th:replace="~{common/input :: passwordTextInput('password', 'Password', ${null})}"></div>
        <div th:replace="~{common/input :: passwordTextInput('confirmPassword', 'Confirm password', ${null})}"></div>
        <div th:replace="~{common/input :: textInput('nick', 'Nick', ${null}, ${null})}"></div>
        <div th:replace="~{common/input :: textInput('firstName', 'First name', ${null}, ${null})}"></div>
        <div th:replace="~{common/input :: textInput('lastName', 'Last name', ${null}, ${null})}"></div>
        <div th:replace="~{common/input :: emailTextInput('email', 'Non student email', ${null})}"></div>
        <label>
            Which year did you start at IT?
            <select th:name="acceptanceYear">
                <option th:each="year : ${#numbers.sequence(T(java.time.Year).now().getValue(), 2001)}"
                        th:value="${year}"
                        th:text="${year}">
                </option>
            </select>
        </label>
        <label>
            What language do you prefer?
            <select th:name="language">
                <option value="SV">
                    Swedish
                </option>
                <option value="EN">
                    English
                </option>
            </select>
        </label>
        <label>
            I accept the user agreement
            <input type="checkbox"
                   name="acceptUserAgreement"
            />
        </label>
        <button type="submit">Create account</button>
    </form>
</main>