<header th:replace="~{common/header}"></header>
<main>
    <a href="/" >Back</a>
    <h1>Settings</h1>
    <form th:object="${form}"
          th:action="@{/settings}"
          th:method="put"
          _="on htmx:afterSwap call updateNames('superGroupTypesForInfo', 'select')">
        <article>
            <header>
                Types for Info API
            </header>
            <div class="super-group-type"
                 th:each="type : ${form.superGroupTypesForInfo}">
                <select>
                    <option disabled selected th:value="${type}" th:text="${type}"></option>
                </select>
                <button class="outline contrast"
                        type="button"
                        _="on click remove closest .super-group-type then call updateNames('superGroupTypesForInfo', 'select')">
                    Remove
                </button>
            </div>
            <footer>
                <button class="outline contrast" type="button" data-hx-get="/settings/new-super-group"
                        data-hx-target="closest footer" data-hx-swap="beforebegin">Add type
                </button>
                <button class="outline contrast" type="submit">Save</button>
            </footer>
        </article>
    </form>
</main>