<header th:replace="~{common/header}"></header>
<main>
     <a href="/" >Back</a>
    <table>
        <thead>
        <tr>
            <th>Swedish name</th>
            <th>English name</th>
            <th>Email prefix</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.svName()}"></td>
            <td th:text="${post.enName()}"></td>
            <td th:text="${post.emailPrefix()}"></td>
            <td>
                <a th:href="${'/posts/' + post.id()}">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>