<div th:fragment="show-users">
     <a href="/" data-hx-target="main">Back</a>
    <table>
        <thead>
        <tr>
            <th>First name</th>
            <th>Nick</th>
            <th>Last name</th>
            <th>Acceptance year</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.firstName()}"></td>
                <td th:text="${user.nick()}"></td>
                <td th:text="${user.lastName()}"></td>
                <td th:text="${user.acceptanceYear()}"></td>
                <td>
                    <a th:href="${'/users/' + user.id}">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>