<style>

</style>
<header th:replace="~{common/header}"></header>
<main>
     <a href="/" >Back</a>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="superGroup : ${superGroups}">
            <td th:text="${superGroup.prettyName()}"></td>
            <td th:text="${superGroup.type()}"></td>
            <td>
                <a th:href="${'/super-groups/' + superGroup.id()}">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>