<header th:replace="~{common/header}"></header>
<main>
    <a th:if="${isAdmin}" href="/super-groups/create">Create super group</a>
    <table>
        <thead>
            <tr>
                <th>
                    Pretty name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Details
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="superGroup : ${superGroups}">
                <td th:text="${superGroup.prettyName()}"></td>
                <td th:text="${superGroup.type()}"></td>
                <td>
                    <a th:href="${'/super-groups/' + superGroup.id()}">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</main>