<header th:replace="~{common/header}"></header>
<main>
    <div id="alerts"></div>
    <a href="/" >Back</a>
    <article>
        <header>
                Super group types
        </header>
        <section class="types-section">
            <th:block th:each="type : ${types}">
                <div class="list-item" th:fragment="type-item">
                    <span th:text="${type}"></span>
                    <span th:if="${isAdmin}">
                        <form data-hx-confirm="Are you sure you want to delete this type?" th:id=|${type}-delete-form| th:fragment="delete-type" th:data-hx-post="@{/types/{type}(type=${type})}" data-hx-target="closest div" data-hx-swap="outerHTML">
                            <div th:replace="~{common/form-csrf}"></div>
                            <input type="hidden" name="_method" value="delete" />
                            <button class="outline contrast">Delete</button>
                        </form>
                    </span>
                </div>
            </th:block>
        </section>
        <footer th:if="${isAdmin}">
            <form th:object="${form}" th:fragment="create-type" th:data-hx-post="@{/types}" data-hx-target="this" data-hx-swap="outerHTML">
                <div th:replace="~{common/form-csrf}"></div>
                <div>
                    <div th:replace="~{common/input :: textInput2(field='type', label='Type')}"></div>
                </div>
                <div>
                    <button>Save</button>
                </div>
            </form>
        </footer>
    </article>
</main>